/*
   New Perspectives on HTML and CSS
   Tutorial 3
   Case Problem 2

   Mountain Wheels Text and Color Style
   Author:
   Date:

   Filename:         mw_layout.css
   Supporting Files: none

*/


/* body style*/

body {
    font-family: Tahoma, Geneva, sans-serif;
}


/* articleheader style */

#articleheader {
    font-size: 18px;
    letter-spacing: 7px;
    text-align: center;
}


/* navagation unorder list style*/

nav {
    background-color: rgb(125, 120, 89);
    line-height: 3em;
}

nav ul li:hover {
    background-color: rgb(131, 121, 36);
    list-style-image: url('wheelmarker.png');
}

a {
    color: white;
    text-decoration: none;
}

ul {
    list-style-type: none;
}


/* leftsection style*/

#leftsection>p {
    font-size: 22px;
}

#firstpar:firstline {
    text-transform: uppercase;
}


/*blockquote style*/

blockquote {
    background-color: rgb(131, 121, 36);
    color: white;
    font-size: 16px;
    font-family: Comic Sans MS, Times, cursive.
}

q {
    quotes: "\0022";
}


/* rightsection style */

#rightsection h1 {
    font-size: 22px;
    letter-spacing: 3px;
    font-weight: normal;
    text-align: center;
}

#rightsection h2 {
    font-size: 18px;
    text-align: right;
    font-weight: normal;
}

#rightsection p {
    color: grey;
    font-size: 14px;
    text-align: justify;
}


/* footer address style*/

footer address {
    font-size: 16px;
    font-style: normal;
    text-align: center;
}
